body {
  text-align: center;
  background: white;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 700px;
}

img.map {
  float: left;
  width: 600px;
  height: 500px;
  border-radius: 3px;
}

img.pin.albania {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.andorra {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.armenia {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.austria {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.azerbaijan {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.belarus {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.belgium {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.bosnia-and-herzegovina {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.bulgaria {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.croatia {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.cyprus {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.czech-republic {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.denmark {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.estonia {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.finland {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.france {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.georgia {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.germany {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.greece {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.hungary {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.iceland {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.ireland {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.italy {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.kosovo {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.latvia {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.liechtenstein {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.lithuania {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.luxembourg {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.macedonia {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.malta {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.moldova {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.monaco {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.montenegro {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.the-netherlands {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.norway {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.poland {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.portugal {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.romania {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.russia {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.san-marino {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.serbia {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.slovakia {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.slovenia {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.spain {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.sweden {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.switzerland {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.turkey {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.ukraine {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.united-kingdom {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.vatican-city {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.albania {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.albania {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.albania {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.albania {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}
img.pin.albania {
  top: 10px;
  left: 300px;
  position: absolute;
  width: 20px;
  height: 20px;
}

div.scores {
}

div#screen {
  position: absolute;
  top: 0;
  right: 105px;
}

.score1, .score2 {
  display: inline-block;
  color: #fff;
  padding: 10px;
  width: 75px;

}

.score1 {
 background: #338A2E;
}

.score2 {
  background: #236863;
}

#new-country-form {
  clear: both;
}

form {
  padding: 15px;
}

input {
  border: 0;
  font-size: 30px;
  outline: none;
}

.map-content {
  position: relative;
}


input.hidden {
  display: none;
}

