body{
  background: white;
}

#map { 
  position:relative; 
  top:20px; 
  width:700px; 
  height:466px; 
  margin:0px 
  auto; 
  background:#FFF 
}

input.hidden {
  display: none;
}

#correctAnswers {
  
}

